@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&family=Roboto:wght@400;500;700;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', Arial, Helvetica, sans-serif;
   list-style: none;
   text-decoration: none;
   color: #FFF9F6;
}
body {
   background-color: #0f0e15;
}
img {
   max-width: 100%;
   display: block;
}

/* HEADER */
   .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      max-width: 1200px;
      margin: 0 auto;
   }
   .header-menu {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
   }
   .header-menu a {
      font-weight: 500;
      line-height: 1.3;
      padding: 10px;
   }
   .header-menu a:hover {
      background-color: #FF5100;
      border-radius: 5px;
      transition: 0.3s;
      box-shadow: 0 0 1rem #FF5100;
   } 
   .nav-links {
      display: flex;
   }
   .social {
      padding-left: 20px;
      font-size: 1.2rem;
   }
   
   .fa-brands:hover {
      color: #FF7D40;
      transition: 0.2s;
      /* box-shadow: 0 0 1rem #FF5100; */

     
   }

/* MAIN */
   .introducao {
      max-width: 1200px; 
      padding: 40px 20px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 100px;
      align-items: center;
      margin-bottom: 30px;
   }
   .titulo {
      font-size: 3.5rem;
      font-weight: 800;
      line-height: 1.4;
      letter-spacing: -3px;
      color: #FFF9F6;
   }
   .button-contact {
      background-color: #FF5100;
      border: 1px solid #FF5100;
      padding: 10px 40px;
      border-radius: 5px;
      margin-top: 20px;
      cursor: pointer;
      font-size: 1.2rem;
   }
   .button-contact:hover {
      box-shadow: 0 0 1rem #FF5100;
      background-color: #FF7D40;
      border: 1px solid #FF7D40;
      color: #161616;
      transition: 0.3s;
   }

/* SECTION */
   .ponto {
      color: #FF7D40;
   }
   .paragrafo {
      font-size: 1.2rem;
      color: #FF7D40;
      font-weight: 500;
   }

/* EXPERIÊNCIA */
   .experiencia {
      max-width: 1200px;
      padding: 40px 20px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 100px;
   }
   .subtitulo {
      font-size: 5.5rem;
      font-weight: 800;
      letter-spacing: -5px;
      line-height: 1;
      word-break: break-all;
      color: #4c5074;
      max-width: 3ch;
   }
   .experiencia-texto {
      font-size: 1.2rem;
      line-height: 1.4;
      margin-bottom: 60px;
      color: #FFF9F6;
   }
   .experiencia-texto strong {
      color: #FF7D40;
   }
   .empresa {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px 20px;
      padding: 20px;
      background: #161616;
      margin-bottom: 20px;
      border-radius: 10px;
      position: relative;
   }
   .empresa::before {
      content: '';
      display: block;
      width: 4px;
      height: 20px;
      background: linear-gradient(#FF7D40, #FF5100);
      position: absolute;
      top: 20px;
      left: -4px;
   }
   .empresa-ano {
      position: absolute;
      top: 20px;
      left: -110px;
      color: #cdd2ff;
      text-align: right;
      width: 80px;
   }
   .empresa-titulo {
      margin-bottom: 10px;
   }
   .empresa-cargo {
      color: #FF7D40;
   }
   .empresa-texto {
      font-size: .875rem;
      line-height: 1.4;
      color: #cdd2ff;
   }
   .empresa-hab {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-content: start;
   }
   .empresa-hab li {
      font-size: .875rem;
      font-weight: 600;
      line-height: 1.4;
      background-color: #cdd2ff;
      color: #0f0e15;
      border-radius: 5px;
      padding: 5px 10px;
   }
   @media (max-width: 768px) {
      .experiencia {
         grid-template-columns: 1fr;
         gap: 40px;
      }
      .subtitulo {
         letter-spacing: -3px;
         font-size: 3rem;
         max-width: initial;

      }
   }

   /* FORMAÇÃO */
   .formacao {
      background-color: #131526;
   }
   .formacao-container {
      max-width: 1200px;
      padding: 40px 20px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 100px;
   }
   .subtitulo-form {
      font-size: 5.5rem;
      font-weight: 800;
      letter-spacing: -5px;
      line-height: 1;
      word-break: break-all;
      color: #4c5074;
      max-width: 3ch;
   }
   .formacao-texto {
      font-size: 1.2rem;
      line-height: 1.4;
      margin-bottom: 30px;
      color: #FFF9F6;
   }
   .curso-item {
      margin-bottom: 20px;
   }
   .curso {
      margin-bottom: 10px;
   }
   .horas {
      color: #FF7D40;
      font-weight: normal;
   }
   .instituicao {
      font-size: .875rem;
      font-weight: 600;
      line-height: 1.4;
      background-color: #cdd2ff;
      color: #0f0e15;
      border-radius: 5px;
      padding: 5px 10px;
   }
   .certificado  {
      padding: 5px 10px;
      border-radius: 5px;
      color: #4c5074;
   }
   .certificado:hover  {
      color: #FF7D40;
   }
   /* FOOTER    */
   .footer {
      background-color: #161616;
      align-items: center;
      justify-content: center;
   }
   .footer-container {
      max-width: 1200px;
      padding: 40px 20px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px 40px;
      line-height: 1.5;
   }
   .footer-copy {
      color:#4c5074;
      padding-bottom: 40px;
      text-align: center;
   }
   .contatos-itens {
      font-weight: bold;
   }
   .btn-contact {
      background-color: #FF5100;
      border: 1px solid #FF5100;
      padding: 10px 40px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1.2rem;
   }
   .btn-contact:hover {
      box-shadow: 0 0 1rem #FF5100;
      background-color: #FF7D40;
      border: 1px solid #FF7D40;
      color: #161616;
      transition: 0.3s;
   }
   

@media (max-width: 1200px) {
   .titulo {
      font-size: 3rem;
   }
}
@media (max-width: 768px) {
   .introducao {
   grid-template-columns: 1fr 1fr;
   gap: 30px
   }
   .img-profile {
      max-width: 350px;
   }
   .header {
      flex-direction: column;
      gap: 40px;
      padding: 30px;
   }
   .empresa-ano {
     position: initial;
     order: 1;
     width: initial;
     text-align: left;
     color: #FFF9F6;
   }
  .formacao-container {
   grid-template-columns: 1fr;
   gap: 40px;
   }
   .subtitulo-form {
      letter-spacing: -3px;
      font-size: 3rem;
      max-width: initial;
   }
}
@media (max-width: 425px) {
   .links-social {
      display: flex;
      padding-top: 10px;
   }
   .nav-links {
      flex-direction: column;
      align-items: center;
   }
   .header {
      gap: 20px;
   }
   .header-menu {
      gap: 10px;
      padding-bottom: 10px;
   }
   .introducao  {
      display: block;
   }
   .intro-cta {
      text-align: center;
   }
   .titulo {
      font-size: 2.5rem;
      letter-spacing: -1px;
   }
   .empresa {
      grid-template-columns: 1fr;
   }
   .empresa-ano {
      position: initial;
      order: 1;
      width: initial;
      text-align: left;
      color: #FFF9F6;
   }
   .formacao-container {
      grid-template-columns: 1fr;
      gap: 40px;
   }
   .subtitulo-form {
      letter-spacing: -3px;
      font-size: 3rem;
      max-width: initial;
   }
   .footer-container {
      grid-template-columns: 1fr;
      }
   .btn-contact {
      width: 100%;
   }
   .logo-mp {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .footer-copy {
      align-items: center;
      font-size: .8rem;
   }
   .footer-texto {
      font-size: .8rem;
      text-align: center;
   }
}